{% block link_widget %}
  <a href="{{ data }}"> {{ data }}</a>
{% endblock %}

{% block link_parent_widget %}
  <a href="{{ data }}"> <button type="button" class="btn btn-success">Retour vers le manip</button></a>
{% endblock %}
